.header {
    padding: 24px 80px;
    background-color: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;

    .logoContaier{
        display: flex;
        align-items: center;
        gap: 12px; 
    }

    .logoText {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.4px;
    }

    .navMenu {
        display: flex;
        gap: 32px;

        li {
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.4px;;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .resumeButton {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        height: 56px;
        gap: 8px;
        padding: 16px 20px;
        border-radius: 4px;
        background-color: #000;
        color: #fff;
        border-radius: 4px;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.4px;
        &:hover {
            background: var(--Primary-Neutral, #404040);
        }
        
        &:focus {
            border: 2px solid var(--Primary-Black, #000);
            background: var(--Primary-White);
            color: var(--Primary-Black);
        }
    }   
}



