.heroContent {
    display: flex;
    padding: 0 32px;
    height: 596px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    .heroButtons {
        display: flex;
        gap: 32px;
        position: absolute;
        left: 32px;
        bottom: -23px;
    }
    
    .mainImage {
        top: 0;
        right: 0;
        position: absolute;
    }

    .textContent {
            padding: 20px 0;
            display: flex;
            gap: 32px;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            align-self: stretch;

            .textSubduedWrapper {
                width: 600px;
            }

            .textWrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                align-self: stretch;
                
                .headingWrapper {
                    display: flex;
                    align-items: flex-start;
                    gap: 16px;
                }
            }
        }
}

