.skillsContainer {
    display: flex;
    padding: 0 32px;
    flex-direction: column;
    gap: 20px;
    
    .textContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 20px 0;
    }

    .listContainer {
        display: flex;
        padding: 20px 0;
        flex-direction: column;
        align-items: center;

        .list {
            display: flex;
            padding: 20px 0;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            gap: 71px;
        }
    }
} 