.mySkillsTitle {
  color: var(--Primary-Black, #000);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.mySkillsSecondTitle {
  color: var(--Primary-Black, #000);
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.textSubdued {
  color: var(--Zinc-500, #71717a);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.textHeroFirst {
  color: var(--Primary-Black, #000);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.textHeroSecond {
  color: var(--Primary-Black, #000);
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.textHeroThird {
  text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 3px 3px #000,
    -3px 3px #000, 3px -3px #000, -3px -3px #000, 3px 0 #000, -2px 0 #000,
    0 2px #000, 0 -2px #000;
  color: white;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.textStylishExpOne {
  color: var(--Primary-White, #fff);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.textStylishExpSecond {
  color: var(--Primary-White, #fff);
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.textExpCardTitle {
  color: var(--Primary-White, #fff);
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.48px;
}

.yearTextExp {
  color: var(--Zinc-300, #d4d4d8);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.32px;
}

.subTextExp {
  color: var(--Zinc-300, #d4d4d8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.aboutMeTitle {
  color: var(--Primary-Black, #000);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.aboutMeSecondTitle {
  color: var(--Primary-Black, #000);
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.aboutMeSubText {
  color: var(--Zinc-500, #71717a);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.myProjectsTitle {
  color: var(--Primary-White, #fff);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.myProjectsSecondTitle {
  color: var(--Primary-White, #fff);
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.myProjectsCardId {
  color: var(--Primary-White, #fff);
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.myProjectsCardTitle {
  color: var(--Primary-White, #fff);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
}

.myProjectsCardText {
  color: var(--Zinc-500, #71717a);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.contactFormEmail {
  color: var(--Primary-Black, #000);
  font-size: 28px;
  font-weight: 600;
  line-height: 32px; 
  letter-spacing: -0.56px;
}
